
<app-navbar></app-navbar>
<app-banner></app-banner>

<section class="logIn">
    <div>
        <img src="../../../assets/imgs/right-layer.png" alt="" class="right-layer">
    </div>
    <div class="container">
        <div class="heading w-100">
        <h2 class="text-center right-circle" data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="500" data-aos="fade-right">تسجيل الدخول</h2>
        </div>

        <div class="row justify-content-center align-items-center d-column   ">
            <div class="col-lg-6">
                    <form  data-aos-easing="linear"
                    data-aos-duration="1400"   data-aos-delay="800" data-aos="zoom-in">
                        <div class="input d-flex flex-column" >
                            <label for="">رقم الهوية</label>
                            <input type="text" placeholder=" 3456667789 " class="">
                        </div>
        
                        <div class="input d-flex flex-column">
                            <label for=""> كلمة المرور</label>
                            <input type="password" placeholder=" 12345 " >
                        </div>

                        <div class="submit-btn">
                            <button>تسجيل الدخول</button>
                        </div>

                        </form>
                        </div>
                        </div>

    </div>
</section>
<app-about-diplomas-footer></app-about-diplomas-footer>
