body{
    background-color: #7D7D7D;
}


.banner{
    background-image: url('../../assets/imgs/Background.png');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: #fff;
    z-index: 33;

}
.banner h1{
    margin-top: 4.25rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    color: #fff;
    margin-bottom: 4rem;
}

.banner .row{
    margin-top: 5rem !important;
    position: relative;
    z-index: 9999;
}

.banner .col-lg-4{
    padding: 0.75rem !important;
    
}
.banner .card-content{
    background-color: #fff;
}
.banner .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #7D7D7D;
    padding: 5rem;
}
.banner .card-img img{
    width: 1.813rem;
}
.banner .card-header{
    padding: 0.688rem;
    background-color: var(--primary-color);
    text-align: center;
}
.banner .card-header h4{
    font-weight: 700;
    font-size: 1.45rem;
    color: #fff;

}
.banner .card-body{
    padding: 1.25rem 3rem;
}
.banner .card-body p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;
}
.banner .card-body button{
    margin:1.188rem;
    padding: 1.188rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    outline: none;
} 