
<app-about-diplomas-navbar></app-about-diplomas-navbar>
<!-- start banner section--------------- -->
<section class="banner">
    <div class="container">

    <h1>تعرفى على دبلومات<br>
    جمعية الدراسات القرآنية بمكة المكرمة</h1>
            </div>
</section>

<div class="about-diplomas">
    <img src="../../assets/imgs/Vector(7).png" alt="" class="img-layer">
    <div class="container">

        <div class="about-content">
            <div class="row justify-content-center">
                <!-- card1 -->
                <div class="col-lg-4" >
                    <div class="card-content shadow rounded" >
                        <div class="card-img  ">
                            <img src="../../assets/imgs/🦆 icon _image_.png" alt="img-fluid">
                        </div>
                        <div class="card-header "><h4>الدبلوم العالي لإعداد معلمات القرآن الكريم</h4></div>
                        <div class="card-body text-center">
                            <p>نبذة تعريفية مختصرة عن الدبلوم العالي لإعداد معلمات القرآن الكريم</p>
    
                            <button class="">تعرف على المزيد</button>
                        </div>
                    </div></div>
    
                    <!-- card2 -->
                    <div class="col-lg-4  ">
                        <div class="card-content shadow rounded ">
                            <div class="card-img ">
                                <img src="../../../assets/imgs/🦆 icon _image_.png" alt="img-fluid">
                            </div>
                            <div class="card-header "><h4>الدبلوم العالي لإعداد معلمات القرآن الكريم</h4></div>
                            <div class="card-body text-center">
                                <p>نبذة تعريفية مختصرة عن الدبلوم العالي لإعداد معلمات القرآن الكريم</p>
        
                                <button class="">تعرف على المزيد</button>
                            </div>
                        </div></div>
    
                        <!-- card3 -->
                        <div class="col-lg-4  ">
                            <div class="card-content shadow rounded">
                                <div class="card-img ">
                                    <img src="../../assets/imgs/🦆 icon _image_.png" alt="img-fluid">
                                </div>
                                <div class="card-header "><h4>الدبلوم العالي لإعداد معلمات القرآن الكريم</h4></div>
                                <div class="card-body text-center">
                                    <p>نبذة تعريفية مختصرة عن الدبلوم العالي لإعداد معلمات القرآن الكريم</p>
            
                                    <button class=" ">تعرف على المزيد</button>
                                </div>
                            </div></div>
      </div>
    </div></div>
</div>

<!-- <section class="layer ">
    <div class="img-container">
  
    </div>
</section> -->
<app-about-diplomas-footer></app-about-diplomas-footer>

