
  

    <!-- start of slider section------------------ ------------------------------->
    <section class="slider" >
      <div>
        <img src="../../assets/imgs/slider-layer.png" alt="" class="slider-layer" />
      </div>
        <div class="container">
      
          <div class=" slider-content   w-100">
            
            <div class="slider-card w-75 m-auto">
              <img [src]="currentImage" alt="" class="w-100">
      
              <div class="img-content">
                <p>     <span> إفطار جماعي في رمضان   </span>   <span>برعاية “رمضان يجمعنا”</span> </p>
              </div>
            </div>
      
            <button class="next " (click)="previousSlide()">  
              <i class="fa-solid fa-chevron-right"></i>
            </button>
            <button class="prev" (click)="nextSlide()">  <i class="fa-solid fa-chevron-left"></i></button>
          </div>
        </div>
      

     
      </section>

   

  <!-- end of creator section-------------------------------------------- -->
  
  <!-- start of services section-------------------------------------------- -->
  
  

 