<app-navbar></app-navbar>
<app-banner></app-banner>


<app-about-diplomas-top-sections></app-about-diplomas-top-sections>
<app-about-diplomas-centered-sections></app-about-diplomas-centered-sections>
<app-about-diplomas-bottom-sections></app-about-diplomas-bottom-sections>


<!-- start Executive management section-------------------------- -->

<section class="executive-management">
    <div class="container">
        <div class="heading">
        <h2 class="text-center  right-circle" data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="300" data-aos="fade-left" >الإدارة التنفيذية </h2>
        </div>

        <div class="content w-100  ">
                
            <div class="button w-100  bg-white  ">
                <a class="toggle" data-bs-toggle="collapse" href="#btn" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                    <i class="fa-solid fa-angle-down"  id="first-btn"  ></i>
                  </a>
               
                <div class="collapse w-100 " id="btn">
                    <div class="card card-body d-flex  align-items-center w-100">
                     <div class="container">
                     <h4 class="text-center"> أ. أريج عيسى مريعاني</h4>
                     <h5 class="text-center">المدير التنفيذي للجمعية</h5>

                     <div class="contact-info  ">
                    

                    
                        <div class="contact-way d-flex">
                       
                            <a href="tel:05035044440
                            ">05035044440

                        </a>
                        <i class="fa-solid fa-mobile-screen me-2"></i>
                        </div>
                        
                        <div class="contact-way d-flex">
                           
                            <a href="mailto:aemereani@gmail.com
                            ">aemereani@gmail.com
                        </a>
                        <i class="fa-solid fa-envelope me-2"></i>
                        
                         </div></div>
                     </div>
                     <div class="text-center">
                        <div class="heading">
                        <h2 class="text-center">
                            <span>لائحة المدير </span>
                            <span> التنفيذى</span>

                        </h2>
                        </div>
                        <a href="https://drive.google.com/file/d/1ZZFANIY2C9dv4fp6NUQsRWI4liLB0oyl/view"><img src="../../../assets/imgs/pdf-icon.png" alt=""></a>
                        </div>


        <div class="line"></div></div>
                      </div>
                </div>
        </div>
        
      
        </div>
        
</section>
<app-about-diplomas-footer></app-about-diplomas-footer>

