<app-navbar></app-navbar>
<app-banner></app-banner>

<section class="general-charity   " >

    <div>
        <img src="../../../assets/imgs/right-layer.png" alt="" class="right-layer" >
    
    </div>
    <div class="container   p-0"  >
    <div class="heading">
        <h2 class="text-center " class = "right-circle" data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="400" data-aos="fade-left">  التوظيف </h2>
    </div>

        <!-- <div class="row  "  *ngFor="let item of reqList ; let i = index" >
       
  
  
            <div class="content w-100 "  >
              
                
                <div class="button w-100  bg-white  "  *ngIf=" i !== 1 ; else otherDiv">
    
                    <div class="d-flex justify-content-between align-items-center">
    
                        <span>{{item.jobTitle}}</span>
                    <a class="toggle" data-bs-toggle="collapse" href="#{{item.btnId}}" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                        <i class="fa-solid fa-angle-down"  id="first-btn"  ></i>
                      </a>
                   </div>
    
                    <div class="collapse w-100 " id="{{item.btnId}}">
                        
                        <div class="card card-body  w-100">

                            <ul>
                                <li>المسمى الوظيفى : {{item.jobTitle}}</li>
                            </ul>
                  
                          
                         <ul class="w-100 " *ngFor="let  content of item.content">
                        
                            <div class = " d-flex justify-content-between mb-3 li-container">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>{{content}}</li>
                                </div>
                            
                            </div>
    
                          
                          
                         </ul>
                         
                          </div>
                    </div>
            </div>
    
            <div class="line"></div>
        </div>


        <ng-template class="content w-100 "#otherDiv>
              
                
            <div class="button w-100  bg-white  ">

                <div class="d-flex justify-content-between align-items-center">

                    <span>{{item.jobTitle}}</span>
                <a class="toggle" data-bs-toggle="collapse" href="#{{item.btnId}}" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                    <i class="fa-solid fa-angle-down"  id="first-btn"  ></i>
                  </a>
               </div>

                <div class="collapse w-100 " id="{{item.btnId}}">
                    
                    <div class="card card-body  w-100">

                        <ul>
                            <li>المسمى الوظيفى : {{item.jobTitle}}</li>
                        </ul>
                     <ul>
                        <div class = " d-flex justify-content-between mb-3 w-100">
                          <li>{{item.heading}}</li>
                        
                        </div>
                        </ul>
                      
                     <ul class="w-100 " *ngFor="let  content of item.content">
                    
                        <div class = " d-flex justify-content-between mb-3 li-container">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-circle ms-2"></i>
                            <li>{{content[i].content1}}</li>
                            </div>
                      
                        </div>

                      
                      
                     </ul>
                     
                      </div>
                </div>
        </div>

        <div class="line"></div>
    </ng-template>
            </div> -->

            <div class="row" data-aos-easing="linear"
            data-aos-duration="1400"   data-aos-delay="800" data-aos="zoom-in">
                <div class="content w-100 "  >
              
                
                    <div class="button w-100  bg-white  "  >
        
                        <div class="d-flex justify-content-between align-items-center">
        
                            <span>سكرتيرة </span>
                        <a class="toggle" data-bs-toggle="collapse" href="#1" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                            <i class="fa-solid fa-angle-down"  id="first-btn"  ></i>
                          </a>
                       </div>
        
                        <div class="collapse w-100 " id="1">
                            
                            <div class="card card-body  w-100">
    
                                <ul>
                                    <li> <span>المسمى الوظيفى : </span> سكرتيرة</li>
                                </ul>
                      
                              
                             <ul class="w-100  ">

                                <h4>الشروط</h4>
                            
                                <div class = " ">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-circle ms-2"></i>
                                    <li>أن تكون سعودية الجنسية</li>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-circle ms-2"></i>
                                    <li> لديها مهارة في أعمال السكرتارية بإحتراف  </li>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-circle ms-2"></i>
                                    <li> لديها القدرة على استخدام الحاسب الآلي وتطبيقاته </li>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-circle ms-2"></i>
                                    <li> لديها المهارة في الإتصال وإعداد التقارير والمتابعة </li>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-circle ms-2"></i>
                                    <li> أن تجتاز المقابلة الشخصية</li>
                                    </div>
                                
                                </div>
                                  <div class="w-100 d-flex justify-content-center a">
                                 <button class="text-center"><a href="">تقديم الآن</a></button>
                                 </div>

                                 <div class="line"></div>
                             </ul>
                             
                              </div>
                        </div>
                </div>
        
                
            </div>


            <div class="content w-100 "  >
              
                
                <div class="button w-100  bg-white  "  >
    
                    <div class="d-flex justify-content-between align-items-center">
    
                        <span>أخصائية تقنية المعلومات </span>
                    <a class="toggle" data-bs-toggle="collapse" href="#2" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                        <i class="fa-solid fa-angle-down"  id="first-btn"  ></i>
                      </a>
                   </div>
    
                    <div class="collapse w-100 " id="2">
                        
                        <div class="card card-body  w-100">

                            <ul>
                                <li> <span>المسمى الوظيفى : </span> أخصائية تقنية المعلومات</li>
                            </ul>
                  
                          
                         <ul class="w-100  ">

                            <h4>المهام</h4>
                        
                            <div class = " ">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>النظام الإلكتروني (كلاسيرا)     </li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>      الدعم الفني التقني للمنسوبات  </li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>       إدارة الإعلام الرقمي </li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li> التصميم الجرافيكي (إن أمكن)</li>
                                </div>

                            
                            </div>
    
                        
                         </ul>
                         

                         <ul class="w-100  ">

                            <h4>مواصفاتها</h4>
                        
                            <div class = " ">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>  المبادرة والعطاء     </li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>         المرونة  </li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>         التعلم والتدرب الذاتي </li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>    انجاز العمل بسرعة وفي حينه</li>
                                </div>

                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-circle ms-2"></i>
                                <li>        تقبل التعليمات والرأي الأخر</li>
                                </div>

                            
                            </div>
    
                            
                            <div class="w-100 d-flex justify-content-center a">
                                <button class="text-center"><a href="">تقديم الآن</a></button>
                                </div>
                                <div class="line"></div>
                          
                         </ul>
                          </div>
                    </div>
            </div>
    
            
        </div>


        


    <div class="content w-100 "  >
      
        
        <div class="button w-100  bg-white  "  >

            <div class="d-flex justify-content-between align-items-center">

                <span>  رئيسة الشؤون التعليمية </span>
            <a class="toggle" data-bs-toggle="collapse" href="#3" role="button" aria-expanded="false" aria-controls="collapseExample"  >
                <i class="fa-solid fa-angle-down"  id="first-btn"  ></i>
              </a>
           </div>

            <div class="collapse w-100 " id="3">
                
                <div class="card card-body  w-100">

                    <ul>
                        <li> <span>المسمى الوظيفى : </span> رئيسة الشؤون التعليمية</li>
                    </ul>
          
                  
                 <ul class="w-100  ">

                    <h4>الكفايات</h4>
                
                    <div class = " ">
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-circle ms-2"></i>
                        <li> سعودية الجنسية    </li>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-circle ms-2"></i>
                        <li>    مؤهل لا يقل عن البكالوريوس في تخصص مناسب
                            وبفضل كونه في الأقسام التربوية أو الشرعية </li>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-circle ms-2"></i>
                        <li>     خبرة لا تقل عن خمسة سنوات في مجال العمل التربوي</li>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-circle ms-2"></i>
                        <li>  فهم في مجالات تعلم وتعليم القرآن الكريم</li>
                        </div>

                    
                    </div>

                    
                    <div class="w-100 d-flex justify-content-center a">
                        <button class="text-center"><a href="">تقديم الآن</a></button>
                        </div>
                        <div class="line"></div>
                 </ul>
                 

            

                 
                  </div>
            </div>
    </div>

   
</div>
            </div>
        
        </div></section>
<app-about-diplomas-footer></app-about-diplomas-footer>
