<app-about-diplomas-navbar></app-about-diplomas-navbar>
<section class="banner">
    <div class="container">

    <h1 >  
    أهلاً وسهلا بك  <br>
    في جمعية الدراسات القرآنية بمكة المكرمة
    </h1>
            </div>
</section>


<div class="about-diplomas">
    <img src="../../assets/imgs/Vector(7).png" alt="" class="img-layer">
    <div class="container">

        <div class="about-content">
            <div class="row justify-content-center">
                <!-- card1 -->
                <div class="col-lg-4">
                    <div class="card-content shadow rounded   ">
                        <div class="card-header "><h4>طالبة مسجلة مسبقا</h4></div>

                      
                        <div class="card-body text-center  d-flex justify-content-between  align-items-center flex-column   ">
                            <p> إذا كنتي دارسة سابقا في جمعية الدراسات القرآنية بمكة المكرمة يسرنا انضمامك الينا مجدداً في برامجنا الجديدة</p>
                            <button class=""><a routerLink="/signIn-page" class="text-white">إعادة التسجيل</a></button>
                          
                        </div>
                      
                    </div></div>
    
                    <!-- card2 -->
                    <div class="col-lg-4  ">
                        <div class="card-content shadow rounded  ">
                        
                            <div class="card-header "><h4> تسجيل دخول طالبة جديدة</h4></div>
                            <div class="card-body text-center   d-flex justify-content-between  align-items-center flex-column w-100 ">
                                <p>اذا كنتي ستدرسين للمرة الأولى في جمعية الدراسات القرآنية بمكة المكرمة يسرنا انضمامك الينا ونرجو منك تعبئة إستمارة التسجيل </p>
        
                                <button class="">  <a routerLink="/signUp-page" class="text-white">تسجيل جديد</a></button>
                            </div>
                        </div></div>
    
                 
      </div>
    </div></div>
</div>
<app-about-diplomas-footer></app-about-diplomas-footer>