

<app-banner></app-banner>


<section class="prays-times">

    <div class="">
        <img src="../../../assets/imgs/right-layer.png" alt="" class="right-layer">
     </div>
    <div class="container">

        <div class="heading">
            <h2 class="text-center right-circle">مواقيت الصلاة</h2>
        </div>

   
  <div class="d-flex justify-content-center  align-items-center pray-time">

<iframe src="https://prayer-times.info/show_prayertimes_new.php?city_link=mecca" frameborder="0" width="580" height="260" scrolling="off"></iframe>

</div>

</div>
</section>


<app-about-diplomas-footer></app-about-diplomas-footer>