<app-about-diplomas-navbar></app-about-diplomas-navbar>

<section class="banner">
    <div class="container">

    <h1>تعرفى على دبلومات<br>
    جمعية الدراسات القرآنية بمكة المكرمة</h1>
            </div>
</section>


<div class="signIn  shadow rounded">
    <img src="../../assets/imgs/Vector(7).png" alt="" class="img-layer">
    <div class="container">
        <div class="row justify-content-center  align-items-center">
            <div class="col-lg-8 ">
                <div class="card-header"> <h4>طالبة مسجلة مسبقاً</h4></div>
               
            <div class="form  d-flex flex-column justify-content-center align-items-center">
              
                
               <form action="" class="">
                <h5>البيانات الشخصية</h5>
                <div class="inputs ">
                  
                <div class="first-row row justify-content-between  ">
                    <div class="name d-flex flex-column col-lg-6 ">
                        <label for="">الإسم الرباعى </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="email d-flex flex-column  col-lg-6">
                        <label for=""> البريد الإلكترونى </label>
                        <input type="email"   class="form-control">
                    </div>
                <!-- </div> -->
                <!-- <div class="sec-row justify-content-between "> -->
                    <div class="phone d-flex flex-column col-lg-6">
                        <label for=""> رقم الهاتف </label>
                        <input type="number"  class="form-control">
                    </div>
                    <div class="programm d-flex flex-column   col-lg-6">
                        <label for=""> البرنامج الذي ترغبين التسجيل فيه</label>
                          <select name="" id="" class="">
                            <option value="1"></option>
                          </select>
                      
                    </div>
                </div>
</div>
                <div class="check d-flex justify-content-center align-items-center  ">
                    <p class=" ">أوافق على جميع الشروط والأحكام</p>
                    <input type="checkbox" class="box">
                </div>
                  <div class="form-submit d-flex justify-content-center align-items-center">
                   <button><a href="">تسجيل </a></button>
                </div>
               </form>
            </div>
        </div>
        </div>
    </div>
</div>
<app-about-diplomas-footer></app-about-diplomas-footer>
