<section class="charity-establishment">
  

    <img src="../../../assets/imgs/right-layer.png" alt="" class="right-layer" />

<div class="container">

    <div class="heading">
    <h2 class="text-center  right-circle"  data-aos-easing="linear"
    data-aos-duration="1400"   data-aos-delay="300" data-aos="fade-right">
        نشأة الجمعية
    </h2>
    </div>

    <div class="row justify-content-between  ">
        <div class="col-lg-8 ">
            <div class="ch-establishment-content">
                <p data-aos-easing="linear"
                data-aos-duration="1400"   data-aos-delay="300" data-aos="zoom-in">بدأ هذا الصرح القرآني العلمي العظيم في مدينة مكة المكرمة بمسمّى معهد الدراسات القرآنية للبنات يُعنى بتخريج معلّمات مؤهلات لتعليم القرآن الكريم وعلومه </p>

                <p data-aos-easing="linear"
                data-aos-duration="1400"   data-aos-delay="600" data-aos="zoom-in">
                    تم تأسيس معهد الدّراسات القرآنية للبنات بمكّة المكرّمة بموجب شهادة التسجيل الصادرة من وزارة الشئون الإسلامية والأوقاف والدعوة والإرشاد برقم (15/100) وتاريخ 1421/2/17هـ؛ واستمر تحت إشراف الوزارة الموقرة
                    </p>

                    <p data-aos-easing="linear"
                    data-aos-duration="1400"   data-aos-delay="900" data-aos="zoom-in">
                    حيث تم انتقال المعهد تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية بمسمّى جمعية الدراسات القرآنية إشرافاً إدارياً ومالياً برقم (3614) وتاريخ 1442/8/3هـ وبقي الإشراف الفني لوزارة الشؤون الإسلامية الموقرة بموجب نظام الجمعيات والمؤسسات الأهلية الصادر بالمرسوم الملكي رقم (م/8) وتاريخ 19/2/1437هـ واللائحة التنفيذية الصادرة بالقرار الوزاري رقم (73739) وتاريخ 11/6/1437هـ</p>
            </div>
        </div>

        <div class="col-lg-4 ps-0">
            <div class="ch-establishment-img">

            </div>
        </div>
    </div>
</div>
</section>

<!-- start charity-file-section--------------------- -->
<section class="ch-file">
<div class="container">
    <div class="heading">
    <h2 class="text-center horizontal-line" data-aos-easing="linear"
    data-aos-duration="1400"   data-aos-delay="300" data-aos="fade-left">  <span>الملف التعريفى </span> <span>للجمعية </span>  </h2>
        </div>
    <div class="file-link text-center mt-5" data-aos-easing="linear"
    data-aos-duration="1400"   data-aos-delay="300" data-aos="zoom-in">
    
       <a href=""><img src="../../../assets/imgs/pdf-icon.png" alt=""></a>
   
    </div>
</div>
</section>

<!-- start charity-goals-section-------------------- -->
<section class="charity-goals">
<img src="../../assets/imgs/news-bg.png" alt="" class="layer" />

<div class="container">

    <div class="heading">
    <h2 class="text-center  left-circle" data-aos-easing="linear"
    data-aos-duration="1400"   data-aos-delay="300" data-aos="fade-left">
       أهداف الجمعية
    </h2>
    </div>

    <div class="row">
     <div class="col-lg-10">
        <div class="charity-goals-content">
          <h3>  تهدف الجمعيةُ من خلال أنشطتِها وبرامجِها إلى تحقيقِ الآتي:</h3>

          <ul>
            <li data-aos-easing="linear"
            data-aos-duration="1400"   data-aos-delay="200" data-aos="zoom-in">تَعْليمِ القُرآنِ الكَريمِ للإناثِ تلاوةً، وتدبرًا لجَميعِ الفئاتِ العُمُريةِ سواءً كَان التعليمُ مباشرًا أم عن بُعد (إلكترونيّ).</li>

            <li data-aos-easing="linear"
            data-aos-duration="1400"   data-aos-delay="500" data-aos="zoom-in">
                إعدادِ معلماتٍ مؤهلاتٍ لتعليمِ القرآنِ الكريمِ وعلومِه، بِشقَّيه: إعداداً تخصصياًّ دقيقاً وإعدادًا عامًا.</li>

            <li data-aos-easing="linear"
            data-aos-duration="1400"   data-aos-delay="800" data-aos="zoom-in">
                    تَخريجُ حافظاتٍ، وتالياتٍ، مُتقِنَاتٍ، مُحَلّياتٍ بِأَخْلاقِ القرآنِ الكريم</li>

            <li data-aos-easing="linear"
            data-aos-duration="1400"   data-aos-delay="1200" data-aos="zoom-in">

                رَبْطُ المــتَعَلِّمَاتِ بكتابِ اللهِ تعالى، وتحصِينِهِم ضِدَّ الأفكارِ المتطرفةِ، وتحقيقُ الوسطيةِ والاعتدالِ وتعزيزُ الانتماءِ الوطنيّ والولاءِ لقيادةِ البلادِ الرشيدةِ.</li>

                <li data-aos-easing="linear"
                data-aos-duration="1400"   data-aos-delay="1500" data-aos="zoom-in">
                    التّأْهِيلُ الفَنّي للمُشْرِفَاتِ والمديراتِ على حلقاتِ القرآنِ، وِفْقَ بَرامجِ إداريةٍ مُتَخَصِصَةٍ.</li>

                    <li data-aos-easing="linear"
                    data-aos-duration="1400"   data-aos-delay="1800" data-aos="zoom-in">
                        نَشْرُ عِلمِ القِرَاءاتِ بَيْنَ الحَافِظَاتِ، والحُصُولِ عَلى الإِجَازَاتِ القُرآنيَةِ المخْتَلفَة.</li>
                
                        <li data-aos-easing="linear"
                        data-aos-duration="1400"   data-aos-delay="2000" data-aos="zoom-in">
                            تَنْميةُ رُوحِ العَمَلِ التّطوِعِيِّ من خِلالِ إِشْرَاكِ المجتمعِ فِي تَعظيمِ كِتَابِ اللهِ تعالى وتَعليمِه وتَبَنّي رِسالةَ الجَمعيَةِ.</li>
          </ul>

        </div>
     </div>
    </div>
</div>
</section>


