<app-navbar></app-navbar>
<app-banner></app-banner>

<section class="sugg-comp">

    <img src="../../../assets/imgs/right-layer.png" alt="" class="right-layer"> 
    <div class="container">
        <div class="heading">
            <h2 class="text-center right-circle" data-aos-easing="linear"
            data-aos-duration="1400"   data-aos-delay="800" data-aos="fade-right">نموذج المقترحات والشكاوي</h2>
</div>

<div class="row justify-content-center align-items-center d-column   "  data-aos-easing="linear"
data-aos-duration="1400"   data-aos-delay="600" data-aos="fade-left">
    <div class="col-lg-7">
            <form action="">
                <div class="input d-flex flex-column">
                    <label for="">الإسم</label>
                    <input type="text" placeholder="كتابة الإسم هنا">
                </div>

                <div class="input d-flex flex-column">
                    <label for="">البريد الإلكترونى</label>
                    <input type="text" placeholder=" email@gmail.com " >
                </div>

                <div class="input d-flex flex-column">
                    <label for=""> الفئة</label>
                    <div class="radio-inputs input d-flex bg-white justify-content-around">
                        <div>
                        <input type="radio">
                        <label for="">طالب</label>
                         </div>

                         <div>
                            <input type="radio">
                            <label for="">أستاذ </label>
                             </div>

                             <div>
                                <input type="radio">
                                <label for="">إدارى</label>
                                 </div>

                                 <div>
                                    <input type="radio">
                                    <label for="">غير ذلك</label>
                                     </div>
                    </div>

                    <div class="input d-flex flex-column">
                        <label for=""> المقترح /الشكوى</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="submit-btn">
                        <button> إرسال</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

        <div class="about-complaint-pdf">
            <div class="heading">
                <h2 class="text-center right-circle" data-aos-easing="linear"
                data-aos-duration="1400"   data-aos-delay="800" data-aos="fade-left">سجل المقترحات والشكاوى</h2>
                </div>
                <div class="content d-flex justify-content-center align-items-center" data-aos-easing="linear"
                data-aos-duration="1400"   data-aos-delay="900" data-aos="zoom-in">
                    <a href="https://drive.google.com/file/d/1QSdq8GHx859-lIB4raUKAbYeMWXLcjRK/view"><img src="../../../assets/imgs/pdf-icon.png" alt=""></a>
                </div>
    
        
        </div>
</div>

</section>


<app-about-diplomas-footer></app-about-diplomas-footer>
