<section class="charity-info">
    <div class="container" >
        <div class="heading">
        <h2 class="text-center  " data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="300" data-aos="zoom-in">
            <span> بيانات الجمعية</span> </h2>
        </div>

          <div class="charity-info-content ">

            <!-- first -->
            <div class="d-flex justify-content-between  align-items-center mb-4" >
            <div class="right-content d-flex justify-content-center align-items-center ">
                <h4>إسم الجمعية</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>جمعية الدراسات القرآنية للبنات بمكة المكرمة</p>
            </div>
            </div>

             <!-- second -->
             <div class="d-flex justify-content-between  align-items-center mb-4"
            >
            <div class="right-content d-flex justify-content-center align-items-center ">
                <h4> رقم التسجيل</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>3614 مسجلة لدى المركز الوطني لتنمية القطاع  غير الربحي</p>
            </div>
            </div>
            <!-- third -->
            <div class="d-flex justify-content-between  align-items-center mb-4"  >
            <div class="right-content d-flex justify-content-center align-items-center ">
                <h4> تاريخ التسجيل</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>1442/8/3 هـ الموافق 2021/3/16 م </p>
            </div>
           </div>
            <!-- fourth -->
            <div class="d-flex justify-content-between  align-items-center mb-4" >
            <div class="right-content d-flex justify-content-center align-items-center ">
                <h4>  المنطقة الإدارية</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>جنوب غرب مكة المكرمة </p>
            </div>
</div>
            <!-- fifth -->
            <div class="d-flex justify-content-between  align-items-center mb-4" >
            <div class="right-content d-flex justify-content-center align-items-center m">
                <h4>   الجهة المشرفة على الجمعية</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>   وزارة الشؤون الإسلامية والدعوة والإرشاد </p>
            </div>
            </div>
            <!-- six -->
            <div class="d-flex justify-content-between  align-items-center mb-4" >
            <div class="right-content d-flex justify-content-center align-items-center mb-4">
                <h4>      نطاق عمل الجمعية</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>   العناية بالقرآن الكريم</p>
            </div>
</div>
               <!-- seven -->
               <div class="d-flex justify-content-between  align-items-center mb-4" >
               <div class="right-content d-flex justify-content-center align-items-center ">
                <h4>        تصنيف الجمعية</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>     منظمات الدعوة والإرشاد والتعليم</p>
            </div>
</div>
               <!-- eight -->
               <div class="d-flex justify-content-between  align-items-center mb-4">
               <div class="right-content d-flex justify-content-center align-items-center ">
                <h4>         الفئة المستهدفة</h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>     الفتيات والنساء وطالبات العلم</p>
            </div>
</div>
               <!-- nine-->
               <div class="d-flex justify-content-between  align-items-center mb-4"  >
               <div class="right-content d-flex justify-content-center align-items-center ">
                <h4>    الموقع الإلكتروني      </h4>
            </div>

            <div class="left-content d-flex  align-items-center">
                <p>        www.qsa.org.sa</p>
            </div>

</div>
             <!-- ten-->
             <div class="d-flex justify-content-between  mb-4" >
             <div class="right-content  d-flex justify-content-center align-items-center ">
                <h4>     مؤسسيين الجمعية      </h4>
            </div>
      
<div class="left-content-box">
            <div class="left-content d-flex  align-items-center  mb-4 ">
                <p>  د/ فاطمة بنت عبدالرحمن رمضان بن حسين    </p>
            </div>

            <div class="left-content d-flex  align-items-center ">
                <p> أ.د/ حسن بن محمد أحمد باجودة</p>
            </div>
        </div>
          </div>

              <!-- eleven-->
              <div class="d-flex justify-content-between  mb-4" >
                <div class="right-content  d-flex justify-content-center align-items-center ">
                   <h4>      أعضاء مجلس الإدارة      </h4>
               </div>
         
   <div class="left-content-box">
               <div class="left-content d-flex  align-items-center  mb-4 ">
                   <p>  د/ نعيمة بنت حامد ياركندي - نائبة الرئيسة   </p>
               </div>
   
               <div class="left-content d-flex  align-items-center mb-4">
                   <p> أ/ نهى عبدالإله باطويل - المشرف المالي</p>
               </div>

               <div class="left-content d-flex  align-items-center  mb-4 ">
                <p>  د/ سناء بنت عبدالرحيم حلواني - عضو  </p>
            </div>

            <div class="left-content d-flex  align-items-center ">
                <p>د/ ندى بنت حسن باجودة - عضو </p>
            </div>
           </div>
             </div>
        </div>
    </div>
</section>

<!-- start ch-vision--------------------------------------- -->
<section class="ch-vision  ">

    
    <img src="../../../assets/imgs/right-layer.png" alt="" class="vision-layer">

<div class="container">
    <div class="heading">
    <h2 class="text-center  right-circle" data-aos-easing="linear"
    data-aos-duration="1400"   data-aos-delay="300" data-aos="fade-right">رؤية ورسالة الجمعية</h2>
    </div>
    <div class="vision-content w-75">
        <h3 data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="500" data-aos="zoom-in">الرسالة</h3>

        <p data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="800" data-aos="fade-left">
            جمعية متخصصة في تأهيل كوادر نسائية متميزة في مجال القرآن الكريم وعلومه وتعليمه وإدارة مؤسساته عبر كفاءات ذات خبرة عالية وبرامج نوعية لتحقيق الخيرية الموعودة لأهل القرآن الكريم
        </p>


        <h3 data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="1200" data-aos="zoom-in">الرؤية</h3>
        <p data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="300" data-aos="fade-left">
            جمعية مكية المنطلق عالمية النموذج والتخريج لكفاءات متخصصة في القرآن وعلومه
            </p>

    </div>

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-around  ">
            <div class="vision-cont">
            <div class="vision-property ">
                <img src="../../../assets/imgs/logo1.png" alt="">
              
            </div>
            <h4 class="text-center">الإتقان</h4>
            </div>

            <div class="vision-cont">
            <div class="vision-property ">
                <img src="../../../assets/imgs/logo2.png" alt="">
              
            </div>
            <h4 class="text-center">العالمية</h4>
            </div>

            <div class="vision-cont">
            <div class="vision-property ">
                <img src="../../../assets/imgs/logo3.png" alt="">
            </div>
            <h4 class="text-center">القيم</h4>
            </div>

            <div class="vision-cont">
            <div class="vision-property ">
                <img src="../../../assets/imgs/logo4.png" alt="">
            </div>
            <h4 class="text-center">المسئولية</h4>
            </div>

            <div class="vision-cont">
            <div class="vision-property ">
                <img src="../../../assets/imgs/logo5.png" alt="">
            </div>
            <h4 class="text-center">الإحتساب</h4>
            </div>
        </div>

    </div>

    <div class="charity-info-content ">

        <!-- first -->
        <div class="d-flex justify-content-between  align-items-center mb-4">
        <div class="right-content d-flex justify-content-center align-items-center ">
            <h4> المجال</h4>
        </div>

        <div class="left-content d-flex  align-items-center primary-color">
            <p>     الهدف الإستراتيجي</p>
        </div>
        </div>

    


         <!-- ten-->
         <div class="d-flex justify-content-between  mb-4">
         <div class="right-content  d-flex justify-content-center align-items-center ">
            <h4>      التربية والتعليم      </h4>
        </div>
  
<div class="left-content-box">
        <div class="left-content d-flex  align-items-center  mb-4 ">
            <p> تحقيق التوسع الجغرافي والعددي والبرامجي لخدمة المستفيدات   </p>
        </div>

        <div class="left-content d-flex  align-items-center mb-4 ">
            <p> العناية بالخريجات والمميزات</p>
        </div>

        <div class="left-content d-flex  align-items-center  ">
            <p> تحقيق البيئة الجذابة للطالبات والمستفيدات</p>
        </div>
    </div>
      </div>

          <!-- eleven-->
          <div class="d-flex justify-content-between  mb-4">
            <div class="right-content  d-flex justify-content-center align-items-center ">
               <h4>        الموارد والعلاقات      </h4>
           </div>
     
<div class="left-content-box">
           <div class="left-content d-flex  align-items-center  mb-4 ">
               <p> تحقيق استقرار الموارد المالية  </p>
           </div>

           <div class="left-content d-flex  align-items-center ">
               <p> تفعيل الشراكات مع الجهات الخيرية والحكومية والخاصة</p>
           </div>

          
       </div>
         </div>

                 <!-- eleven-->
                 <div class="d-flex justify-content-between  mb-4">
                    <div class="right-content  d-flex justify-content-center align-items-center ">
                       <h4>         المؤسسية      </h4>
                   </div>
             
       <div class="left-content-box">
                  
       
                   <div class="left-content d-flex  align-items-center mb-4">
                       <p> تحقيق استقرار وكفاءة الكادر الوظيفي</p>
                   </div>


                   <div class="left-content d-flex  align-items-center mb-4">
                    <p> التحول التقني في العمليات والإنتاج</p>
                </div>

                <div class="left-content d-flex  align-items-center   ">
                    <p>تحقيق المؤسسية </p>
                </div>
    
                  
               </div>
                 </div>
    </div>
</div>
</section>
