<app-navbar></app-navbar>
<app-banner></app-banner>


<section class="video-gallery ">
     <div>
        <img src="../../../assets/imgs/right-layer.png" alt="" class="right-layer">
     </div>
    <div class="container">
        <div class="heading">
        <h2 class="text-center right-circle" data-aos-easing="linear"
        data-aos-duration="1400"   data-aos-delay="400" data-aos="zoom-in">
            معرض المرئيات
        </h2>
    </div></div>
</section>
<app-about-diplomas-footer></app-about-diplomas-footer>
