<footer class="">
    <div class="footer-container">
    <div class="first-content">
        <div class="footer-logo">
            <img src="../../../assets/imgs/footer-logo.png" alt="">
        </div>
    </div>
    <div class="sec-content">
        <div class="safra-logo">
            <img src="../../../assets/imgs/logo.png" alt="">
        </div>
    </div>
    <div class="third-content ">
        <h4 class="">روابط مهمة</h4>

        <div class="list d-flex justify-content-start align-items-center">
            
            <ul>
               
                <li><a href="https://qsa.org.sa/jobs">التوظيف</a></li>
                <li><a href="https://qsa.org.sa/album">مكتبة الصور</a></li>
              </ul>
      
              <ul class="ps-1">
            
                <li><a href="https://qsa.org.sa/videos">مكتبة الفيديو </a></li>
                <li><a href="https://qsa.org.sa/contact_us">اتصل بنا</a></li>
              </ul>
        </div>
    </div>
</div>
    <div class="footer-bottom d-flex justify-content-center">
        <p> <a href="#" onclick="window.location.href='https://www.Avnology.com'; return false;">Avnology</a>
                 © 2023</p>
    </div>
</footer>
